<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="icon" th:href="@{/img/nodamen_favicon.ico}">
</head>

<body>

<main id="main">
    <div id="text" style="font-weight: bold" th:text="| 기본 텍스트!! ${hello}|"></div>
    <br><br>
    <div th:if="${hello  == 'hi'}">if => true</div>
    <div th:unless="${hello == 'hi'}">unless => false</div>

    <br><br>
    <button type="button" th:onclick="con(), sol([[${hello}]])">function inline test</button> <!-- TODO sol 형식보다는 con 형식으로 작성-->
    <br><br>
    <a th:href="@{http://localhost:8080/member/(id=${hello})}">parameter Test</a>
    <br><br>
    <div class="replace" th:if="${url != '/'}" ><div th:replace="member.html :: test0"></div></div>
    <div class="replace" th:unless="${url != '/'}"><div th:replace="member.html :: replace"></div></div>
<!--    <div class="insert" th:insert="member.html :: replace">insert</div>-->
    <br><br>
    <div id="fragment" >test</div>
    <button id="button" type="button">test</button>
    <br><br>
    <button th:onclick="findPrime1()" type="button">1</button>
    <div id="percent_1"></div>


    <button type="button" th:onclick="workerTest()">Web worker Test</button>
    <div id="percent_2" style="font-size: 20px; font-weight: bold"></div>


</main>


<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/js/index.js}"></script>

<script th:inline="javascript">
    function con() {
        let name = [[${hello}]]
        console.log(name)
    }
    function sol(e) {
        alert(e)
    }
    window.onload = function () {
        console.log([[${hello}]]) //TODO  th:inline="javascript" 추가로 가능
    }
</script>

</body>
</html>