<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="icon" th:href="@{/img/nodamen_favicon.ico}">
</head>



<body>


<table>
  <thead>

  <tr>
    <th>번호</th>
    <th>이름</th>
    <th>전화번호</th>
  </tr>

  </thead>

  <tbody>

  <tr th:each="list : ${memberLIST}" >
    <td><span th:text="${list.numbers}"></span></td>
    <td><span th:text="${list.name}"></span></td>
    <td><span th:text="${list.phone}"></span></td>
  </tr>

  <tr>
    <td colspan="3">-----------------------------------------</td>
  </tr>
  <tr th:object="${memberObject}" >
    <td><span th:text="*{numbers}"></span></td>
    <td><span th:text="*{name}"></span></td>
    <td><span th:text="*{phone}"></span></td>
  </tr>

  </tbody>
</table>

<div style="display: block" th:fragment="replace">대체됨?</div>
<div th:replace="member.html :: replace">빈칸</div>
<div th:insert="member.html :: replace">삽입?</div>

<script th:src="@{/js/getParameter.js}"></script>

<script>
  window.onload = function () {
    alert(getParameter('id'))
  }
</script>




</body>
</html>